// used to display photos in albums. On create, it should be empty with just the album name. 
extend layout
block content
  p Album Created!
  // here need to connect to Luyao's add new photo page 
  a(href='/add_content') Add New Photos